

body{
  background-color:black;
  font-family:Verdana;
  text-align:center;
}

h1{
  color:white;
}

p{
  font-family:Verdana;
  color:gray;
  font-size: 21px;

}

#Excursion{
  text-align:right;

}

#top-header{
  font-weight: normal;
  font-size: 50px;
}

a{
  color: aquamarine;
  font-size: 16px;
}
